@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input, select, textarea {
	appearance: none;
}

/*Basic*/

	html {
		box-sizing: border-box;
	}

	* {
		box-sizing: inherit;
	}

	body {
		background: #fff;
	}

	body, input, select, textarea {
		color: #a2a2a2;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.75em;
	}

	a {
		transition: color 0.2s ease-in-out;
		color: #49bf9d;
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: transparent;
			color: #49bf9d;
			text-decoration: none;
		}

	strong, b {
		color: #787878;
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #787878;
		font-weight: 400;
		line-height: 1em;
		margin: 0 0 1em 0;
	}

	h1 {
		font-size: 2em;
		line-height: 1.5em;
	}

	h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.25em;
		line-height: 1.5em;
	}

	header {
		border: 0;
		border-bottom: solid 2px #efefef;
		margin: 2em 0;
	}

		header .head {
			margin: 3em 0;
		}

/*Content*/

header p {
	color: #b2b2b2;
	position: relative;
	margin: 0 0 1.5em 0;
}
header h2 + p {
	font-size: 1.25em;
	margin-top: -1em;
	line-height: 1.5em;
}


/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
    }

        ul.icons li:last-child {
            padding-right: 0;
        }

        ul.icons li .icon:before {
            font-size: 1.5em;
        }

/* Place Holder */

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-item {
    margin: 0 0 2em 0;
}

    .work-item .image {
        margin: 0 0 1.5em 0;
    }

    .work-item h3 {
        font-size: 1em;
        margin: 0 0 0.5em 0;
    }

    .work-item p {
        font-size: 0.8em;
        line-height: 1.5em;
        margin: 0;
    }

/* Header */

#header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-attachment: scroll;
    background-image: url("../../images/bookcase.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    left: 0;
    padding: 8em 4em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 20%;
}

    #header strong {
        color: #ffffff;
    }

    #header h1 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 2em;
        line-height: 1.75em;
        margin: 0;
    }

/* icons? */

.icons {
    margin: 1em 0 0 0;
}

    .icons a {
        color: rgba(255, 255, 255, 0.4);
        text-decoration: none;
    }

/* Main */

#main {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 54em;
    padding: 2em 4em 4em 4em;
    width: calc(100% - 40%);
}

    #main section {
        border-top: solid 2px #efefef;
        margin: 4em 0 0 0;
        padding: 4em 0 0 0;
    }

        #main section:first-child {
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
        }

#right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-attachment: scroll;
    background-image: url("../../images/bookcase.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 80%;
    height: 100%;
    width: 20%;
    position: fixed;

}